html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: #0c533c; /* UH Green */
  color: white;
  padding: 1rem;
}
/* Navbar links */
.navbar a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  color: #C8C8C8; /* Silver on hover */
}
